/* resets */
.MuiButton-root {
  font-size: var(--font-size-3) !important;
  text-transform: none !important;
  border-radius: 5em !important;
}
.MuiButton-text {
  color: inherit !important;
}

.MuiButton-containedPrimary {
  background-image: linear-gradient(
    -10deg,
    var(--dr-quaternary),
    var(--dr-quinary)
  );
  color: var(--font-color) !important;
}

.MuiButton-outlinedPrimary {
  color: var(--dr-tertiary) !important;
  border-color: var(--dr-tertiary) !important;
}

.MuiButton-containedError {
  background-image: linear-gradient(
    -10deg,
    var(--dr-septenary),
    var(--dr-senary)
  );
  color: var(--font-color) !important;
}
