.dr-button-group-outline > .MuiButton-root:last-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.dr-button-group-outline > .MuiButton-root:first-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.dr-button-group-outline > .MuiButton-root:not(:first-child):not(:last-child) {
  border-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
}

.dr-button-group-outline > .MuiButton-root {
  border-color: var(--dr-font-color) !important;
  color: var(--dr-font-color) !important;
}
