.MuiIconButton-root {
  padding: 4px !important;
}

.MuiIconButton-colorPrimary {
  background-image: linear-gradient(
    -10deg,
    var(--dr-quaternary),
    var(--dr-quinary)
  );
  border-radius: var(--dr-border-radius) !important;
}

.MuiIconButton-colorPrimary:is([variant="outlined"]) {
  border: 1px solid var(--dr-tertiary) !important;
  background: none;
  border-radius: var(--dr-border-radius) !important;
}

.MuiIconButton-colorPrimary:is([variant="outlined"]) * {
  stroke: var(--dr-tertiary);
}

.MuiIconButton-colorError {
  background-image: linear-gradient(
    -10deg,
    var(--dr-septenary),
    var(--dr-senary)
  );
  border-radius: var(--dr-border-radius) !important;
}
