.drExpandableTabContainerClosed,
.drExpandableTabContainerOpen {
  background-color: var(--dr-secondary);
  transition: 300ms transform ease-in;
  box-shadow: var(--dr-box-shadow);
  border-radius: 3rem;
  cursor: pointer;
}

.drExpandableTabContainerIcon {
  background-color: inherit;
}

.closed:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.open {
  position: relative;
}

.drExpandableTabContainerIcon {
  transition: 300ms transform ease-in;
  background-color: var(--dr-secondary);
  border-radius: 50%;
  overflow: hidden;
  right: -2rem;
  height: 3.5rem;
  width: 3.5rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
