.dr-expandable-tab-container_closed,
.dr-expandable-tab-container_open {
  transition: 300ms transform ease-in;
  background-color: var(--dr-secondary);
  border-radius: 3rem;
  cursor: pointer;
}

.dr-expandable-tab-container_icon {
  background-color: inherit;
}

.closed:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.open {
  position: relative;
}

.dr-expandable-tab-container_icon {
  transition: 300ms transform ease-in;
  background-color: var(--dr-secondary);
  border-radius: 50%;
  overflow: hidden;
  right: -2rem;
  height: 3.5rem;
  width: 3.5rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
